* {
  box-sizing: border-box;
}
.inp-btn {
  display: flex;
  justify-content: center;
}

.inp {
  border-radius: 15px;
  width: 200px;
  height: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-color: #A33546;
  border-color: #FE1D37;
  outline: none;
}
.box {
  margin: 0px auto;
  width: 1100px;
  display: flex;
}
.color {
  color: black;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
.right-box {
  width: 600px;
  height: 620px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.right-box-h1 {
  color: black;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
.right-box-p1 {
  text-align: center;
}
.right-box-p2 {
  text-align: center;
}
.inp-1 {
  display: flex;
  justify-content: center;
}
.inp-1 input {
  border-radius: 15px;
  width: 200px;
  height: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-color: #A33546;
  border-color: #FE1D37;
  outline: none;
}
.inp-2 {
  display: flex;
  justify-content: center;
}
.inp-2 input {
  border-radius: 15px;
  width: 200px;
  height: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-color: #A33546;
  border-color: #FE1D37;
  outline: none;
}
.p-tugash {
  text-align: center;
}
.btn-tugash {
  display: flex;
  justify-content: center;
}
.btn-tugash button {
  color: #EF5958;
  width: 90px;
  height: 35px;
  border-color: #E0E0DF;
  border-radius: 15px;
}
.right-box-chziq {
  border: 1px solid #7a7a79;
}
.right-box-chziq2 {
  border: 1px solid #7a7a79;
}
.left-box {
  width: 510px;
  height: 620px;
}
.left-box img {
  background-image: url(imgs/fatt_think.jpg);
}
#hisob {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
